@model Worship.evento_integrante

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>evento_integrante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.evento.tx_comentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.evento.tx_comentarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.integrante.tx_nome_integrante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.integrante.tx_nome_integrante)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
