@model IEnumerable<Worship.tipo_evento>

@{
    ViewBag.Title = "Tipos de evento";
}

<h2>Tipos de evento</h2>

<p>
    <button type="button" class="btn btn-primary">
        @Html.ActionLink("Criar novo", "Create", null, new { @style = "color:white;" })
    </button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tx_tipo_evento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderBy(i => i.tx_tipo_evento)) {
    <tr>
        <td>
            @Html.ActionLink(@Html.Raw(item.tx_tipo_evento).ToString(), "Edit", new { id = item.cd_tipo_evento })
        </td>
        <td>
            @if (item.nrEventosUsando == 0)
            {
                <a href="@Url.Action("Delete", new { id = item.cd_tipo_evento })">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span class="sr-only">Excluir</span>
                </a>
            }
        </td>
    </tr>
}

</table>
