@model Worship.tonalidade

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tonalidade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tx_descricao_tonalidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tx_descricao_tonalidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nr_posicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nr_posicao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tx_tonalidade }) |
    @Html.ActionLink("Back to List", "Index")
</p>
