@model IEnumerable<Worship.integrante>

@{
    ViewBag.Title = "Integrantes";
}

<h2>Integrantes</h2>

<p>
    <button type="button" class="btn btn-primary">
        @Html.ActionLink("Criar novo", "Create", null, new { @style = "color:white;" })
    </button>
</p>

@foreach (var item in Model.OrderBy(i => i.tx_nome_integrante))
{
    <div class="media">
        <div class="media-left">
            @if (item.foto_integrante != null)
            {
                <img src='@Url.Action("GetImage", "integrantes", new { id = item.cd_integrante })' width='64' height='64' />
            }
            else
            {
                @Html.Raw("<img src='/Content/images/noprofile.png' width=64px height=64px />");
            }
        </div>
        <div class="media-body">
            <h4 class="media-heading">@Html.ActionLink(@Html.Raw(item.tx_nome_integrante).ToString(), "Edit", new { id = item.cd_integrante }) (@Html.DisplayFor(modelItem => item.tx_nome_curto_integrante))</h4>
            @Html.DisplayFor(modelItem => item.tx_email_integrante)
            @if (!item.integrante_em_uso)
            {
                <div style="float: right;">
                    <a href="@Url.Action("Delete", new { id = item.cd_integrante })">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span class="sr-only">Excluir</span>
                    </a>
                </div>
            }
        </div>
    </div>
}
