@model IEnumerable<Worship.evento_integrante>

@{
    ViewBag.Title = "";
}

@{
    @Html.Raw("<br/><ul class='list-group'>")
    foreach (var item in Model.OrderBy(ei => ei.integrante.tx_nome_integrante))
    {
        @Html.Raw("<li class='list-group-item'>")
        if (item.integrante.tx_nome_curto_integrante == null)
        {
            @Html.ActionLink(@Html.Raw(item.integrante.tx_nome_integrante).ToString(), "Edit", "integrantes", new { id = item.cd_integrante }, null)
        }
        else
        {
            @Html.ActionLink(@Html.Raw(item.integrante.tx_nome_curto_integrante).ToString(), "Edit", "integrantes", new { id = item.cd_integrante }, null)
        }
        <a href="#" id="@Html.Raw(item.cd_integrante)" class="ExcluirIntegrante" style="float:right;" value="@Html.Raw(item.cd_integrante)">
            <i class="glyphicon glyphicon-trash" title="Excluir integrante"></i>
            <span class="sr-only">Excluir</span>
        </a>
        @Html.Raw("</li>")
    }
    @Html.Raw("</ul>")
}
