@model Worship.evento

@{
    ViewBag.Title = "Novo evento";
}

<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/bootstrap-datepicker.pt-BR.min.js"></script>
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<br/>
<div class="row">
    <div class="col-md-6">
        <h2>Novo evento</h2>
    </div>
    <div class="col-md-6">
        <a href="@Url.Action("Index", "eventos")" class="btn btn-default navbar-right" title="Lista">
            <i class="glyphicon glyphicon-list"></i>
        </a>
        <button type="button" class="btn btn-default navbar-right active" aria-label="Calendário" title="Calendário">
            <span class="glyphicon glyphicon-calendar" aria-hidden="false"></span>
        </button>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
        {
            <div class="alert alert-danger">
                @Html.ValidationMessage("eventoJaExiste")
            </div>
        }

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <div id="datepicker">
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="form-group">
                    @Html.LabelFor(model => model.dt_evento, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.dt_evento, new { htmlAttributes = new { @class = "form-control", @onchange = "FiltraEquipes()" } })
                        @Html.ValidationMessageFor(model => model.dt_evento, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.cd_tipo_evento, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.cd_tipo_evento, new SelectList(@ViewBag.ddTiposEvento, "Value", "Text"), new { @class = "form-control", @onchange = "FiltraEquipes()" })
                        @Html.ValidationMessageFor(model => model.cd_tipo_evento, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.cd_equipe, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.cd_equipe, new SelectList(@ViewBag.ddEquipes, "Value", "Text"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.cd_equipe, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.tx_comentarios, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.tx_comentarios, 3, 40, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tx_comentarios, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Salvar" class="btn btn-primary" title="Salvar"/>
                        <a href="@Url.Action("EditLastEvent", "eventos")" class="btn btn-white btn-primary" title="Voltar">
                            <i class="glyphicon glyphicon-chevron-left"></i> Voltar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#datepicker').datepicker({
            maxViewMode: 2,
            format: "dd/mm/yyyy",
            todayBtn: true,
            language: "pt-BR",
            keyboardNavigation: false,
            daysOfWeekHighlighted: "0,6",
            todayHighlight: true
        });
        debugger;
        var dt = '@Html.Raw(ViewBag.dt_evento)';
        if (dt.length > 0) {
            dt = dt.split('-');
            $('#datepicker').datepicker('setDate', new Date(dt[2],dt[1]-1,dt[0]));
            var selDate = $('#datepicker').datepicker('getFormattedDate');
            selDate = selDate.split('/');
            $('#dt_evento').val(selDate[2] + '-' + selDate[1] + '-' + selDate[0]);
        }
        $('#datepicker').on('changeDate', function () {
            var selDate = $('#datepicker').datepicker('getFormattedDate');
            selDate = selDate.split('/');
            $('#dt_evento').val(selDate[2] + '-' + selDate[1] + '-' + selDate[0]);
            FiltraEquipes();
        });
    });
</script>

<script type="text/javascript">
    function FiltraEquipes() {
        var tipoEvento = $('#cd_tipo_evento').val();
        var selDate = $('#datepicker').datepicker('getFormattedDate');
        var nrAno = selDate.substring(String(selDate).length - 4, String(selDate).length);

        if (nrAno.length > 0 && tipoEvento.length > 0) {
            var msg = "<option value='0'>Aguarde...</option>";
            $("#cd_equipe").html(msg).show();
            $.getJSON("/Equipes/FiltraEquipes", { cd_tipo_evento: tipoEvento, nr_ano: nrAno },
                function (data) {
                    var dd = $("#cd_equipe");
                    dd.empty();
                    dd.append($('<option/>', {
                        value: 0,
                        text: "-- Selecione --"
                    }));
                    $.each(data, function (index, itemData) {
                        dd.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                });
        }
    }
</script>
